
<%= link_to 'Voltar', backoffice_path %>

<h1>Exercícios do </h1>

<% @patients.each do |patient| %>
  <% if patient.patient_exercises.any? %>
    <p> <%= link_to "#{patient.name}", new_patient_exercise_path(patient_id: patient.id) %> </p>
  <% end %>
<% end %>
