<h1>Selecione os itens</h1>

<%= form_with url: patient_exercises_path(patient_id: @patient_id), method: :post do %>
  <ul>
    <% @exercises.each do |exercise| %>
      <li>
        <%= check_box_tag 'exercise_ids[]', exercise.id %>
        <%= label_tag "exercise_ids_#{exercise.id}", exercise.name %>
      </li>
    <% end %>
  </ul>

  <%= submit_tag 'Enviar Selecionados' %>
<% end %>
