<h1>Lista de pacientes</h1>

<% @patients.each do |patient| %>
  <% if patient.patient_exercises.any? %>
    <p> <%= link_to "#{patient.name}", patient_exercise_path(patient) %> </p>
  <% end %>
<% end %>
